* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  background-color: red;
  text-align: center;
  height: 50px;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

#cabecalho h1 {
  position: relative;
  top: 10px;
  font-size: 20px;
}

#minha_foto {
  padding-top: 70px;
  width: 200px;
  border-radius: 5%;
}

#um a {
  text-decoration: none;
  cursor: pointer;
  background-color: green;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-weight: 500;
  color: white;
}

.listas {
  display: inline-block;
}

#licoes_aprendidas,
#licoes_a_aprender,
#minha_foto {
  margin-left: 50px;
  margin-top: 10px;
}

article p,
aside p {
  width: 300px;
  text-align: justify;
  margin: 15px 30px;
}

#rodape {
  background-color: red;
  height: 18px;
  padding: 10px 0;
  text-align: center;
  position: relative;
  top: 100px;
  width: 100%;
  color: white;
}